@media(max-width: 400px){
    .prio-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .prio-buttons button{
        width: 100%;
    }
}

@media(max-width: 500px) {
    .prio-buttons {
        gap: 8px;
    }

    .prio-buttons button {
        padding: 10px 10px 10px 10px;
    }

    .addTask-bottom {
        font-size: 16px;
    }   
}

@media(min-width: 400px){
    .addTask-bottom-buttons{
        width: fit-content;
    }
}

@media(max-width: 850px){
    .content {
        display: flex !important;
        justify-content: center !important;
        height: 100%;
        margin-left: 0;
        padding-bottom: 80px;
    }

    .addTaskPage{
        margin-left: 0px;
        padding-inline: 0px;
    }

    .addTask {
        width: 100% !important;
        padding-inline: 16px !important;
    }

    .addTask-title {
        font-size: 47px;
    }
    
    .input-section{
        font-size: 16px;
    }

    .input-container{
        padding: 10px 21px 10px 21px !important;
    }

    .inputfield{
        font-size: 16px;
    }

    #input-container-description{
        padding: 18px 21px 9px 21px !important;
    }

    .textarea-description{
        font-size: 16px;
    }

    .prio-buttons button {
        padding: 10px 18px 10px 18px;
        font-size: 16px;
        line-height: 19.2px;
    }

    .addTask-bottom {
        bottom: 80px !important;
        left: 16px !important;
        right: 16px !important;
        padding-left: 0px !important;
    }

    .added-container{
        left: 0;
    }
}

@media(max-width: 1260px) {
    .content {
        display: block;
        height: auto;
    }

    .addTask {
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .input-section {
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 32px;
        gap: 16px;
    }

    .line-page {
       display: none;
    }

    #addTask-category-container {
        position: relative;
        z-index: -1;
    }

    .addTask-bottom {
        width: auto;
        position: fixed;
        z-index: 99;
        bottom: 0;
        left: 64px;
        right: 64px;
        align-items: center;
        background-color: #F6F7F8;
        padding-block: 16px;
        padding-left: 232px;
    }
    
    #clearButton {
        display: none;
    }
}