.content {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
}

.d-none {
    display: none !important;
}

.transparent {
    color: transparent !important;
}

.hidden {
    visibility: hidden;
}

/*  LAYOUT  */

.addTaskPage{
    margin-left: 232px;
    padding-inline: 64px;
}

.addTask {
    height: fit-content;
    width: 976.25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #2A3647;
    padding-top: 160px;
    padding-bottom: 50px;
    overflow: scroll !important;
    gap: 80px
}

.addTask-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.addTask-title {
    margin: 0;
    font-size: 61px;
    font-weight: 700;
}

.input-section {
    width: 100%;
    height: 424px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.input-section-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.parting-line {
    height: 100%;
    border: 0.5px solid #D1D1D1;
}

.line-page{
    margin-inline: 32px;
}

.input-section-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.addTask-bottom {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 20px;
    font-weight: 400;
}

/*  INPUT ELEMENT   */

.input-section-element {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-container {
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 12px 16px 12px 16px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.input-container:focus {
    border: 1px solid #29ABE2;
}

.input-container-select {
    z-index: 1;
}

.input-container-select:hover {
    border: 1px solid #A8A8A8;
}

.input-container:focus-within {
    border: 1px solid #29ABE2;
}

.inputfield {
    width: 100%;
    border: unset;
    padding: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    cursor: pointer;
    color: black;
}

.inputfield::placeholder {
    color: #D1D1D1;
}

.inputfield:focus {
    outline: none;
}

/*  REQUIRED ELEMENTS   */
.input-container-required {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.empty {
    border-color: #FF8190 !important;
}

.required-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    color: #FF8190;
}

/*  ADD TASK BOTTOM SECTION   */
.required-bottom{
    position: relative;
    z-index: -1;
}

.addTask-bottom-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.addTask-bottom-buttons button {
    display: flex;
    justify-content: center;
    gap: 4px;
    padding: 16px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
}

.addTask-bottom-buttons img {
    width: 24px;
    height: fit-content;
}

#clearButton {
    height: 56px;
    width: 126px;
    border: 1px solid #2A3647;
    box-sizing: border-box;
    background-color: transparent;
    display: flex;
    align-items: center;
}

#clearButton:hover {
    border: 2px solid #29ABE2;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: #29ABE2;

    .closeImg {
        background-image: url(../img/closeVectorBlue.svg);
    }
}

.closeImg {
    background-image: url(../img/closeVectorBlack.svg);
    background-size: contain;
    width: 24px;
    height: 24px;
}

#createTaskButton {
    background-color: #2A3647;
    color: white;
    border: none;
}

#createTaskButton:hover {
    background-color: #29ABE2;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/*  TASK ADDED  */

.added-container{
    position: fixed;
    top: 0;
    left: 232px;
    bottom: 0;
    right: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 89;
}

#task-added {
    position: absolute;
    z-index: 89;
    width: 300px;
    height: 74px;
    border-radius: 20px;
    background-color: #2A3647;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: white;
    font-size: 20px;
    line-height: 24px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
    animation-name: slide;
    animation-direction: normal;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  @keyframes slide {
    from {
        bottom: -100px;
    }
    to {
        bottom: 50%;
    }
  }