.textHeadline {
    position: relative;
    top: 206px;
    left: 328px;
    display: flex;
    flex-direction: column;
    width: 1024px;
}

.main-headline {
    font-size: 61px;
    font-weight: 700;
    margin-bottom: 30px;
}

span {
    font-size: 16px;
}


.highlight {
    color: #29ABE2;
}

.vector {
    width: 21px;
    height: 21px;
    cursor: pointer;
    padding: 3px;
}

.headline-vector {
    display: flex;
    justify-content: space-between;
}

.vector:hover {
    background-color: lightgrey;
}

.imprint {
    font-size: 27px;
    font-weight: 700;
}

.headlines {
    font-weight: bold;
    font-size: 20px;
}

.highlight {
    color: #29ABE2;
}

.navBar-container {
    display: none;
}