body {
    margin: 0;
    width: 100%;
    background-color: #F6F7F8;
    font-family: "Inter", sans-serif;
}

.main {
    display: flex;
}

.sideMenu {
    width: 232px;
    height: 100vh;
    position: fixed;
    background-color: #2A3647;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.logo {
    padding-top: 64px;
}
.link {
    cursor: pointer;
}

.links-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 64px;
    color: #A8A8A8;
    font-size: 16px;
    font-weight: 400;
}

.link:hover {
    color: #29abe2;
}

.links {
    height: 32px;
    width: 232px;
    padding-left: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.bgfocus {
    background-color: #091931;
    pointer-events: none;
    width: 192px;
}

.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 96px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.headline {
    position: relative;
    left: 348px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.navBar-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 64px;
    color: #CDCDCD;
    font-size: 16px;
    font-weight: 400;
}

.fontfocus {
    color: #FFFFFF;
}

.linksNav {
    width: 232px;
    height: 46px;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    cursor: pointer;
    gap: 8px;
}

.linksNav:hover {
    background-color: #2A3D59;
}

.navImage {
    width: 30px;
    height: 30px;
    margin-left: 56px;
    margin-right: 8px;
}

.helpUser {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    margin-right: 40px;
}

.helpImage, .ellipseImage {
    cursor: pointer;
}

.textHeadline {
    position: relative;
    top: 206px;
    left: 328px;
    display: flex;
    flex-direction: column;
    width: 1024px;
}

.helpHeadline {
    font-size: 61px;
    font-weight: 700;
    margin-bottom: 30px;
}

span {
    font-size: 16px;
}

ol {
    list-style-type: none;
    counter-reset: item;
    padding-left: 0;
}

li {
    margin-bottom: 20px;
}

li span.howToHeadlines {
    vertical-align: top;
    font-weight: 700;
    font-size: 20px;
}

li span:not(.howToHeadlines) {
    display: block;
    margin-left: 50px; /* Should be greater than width of .howToHeadlines */
}

li::before {
    content: counter(item);
    counter-increment: item;
    font-weight: 700;
    font-size: 27px;
    margin-right: 10px;
}
